.subjects {
    text-align: center;
    padding: 2rem;
    background-color: #FDBA32;
    border-radius: 30px;
    max-width: 70rem;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .subjects h2{
    font-weight: 800;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .card {
    background: #a77a21;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #ddd,0 0 10px #ddd;
    margin: 5px 20px;
    align-items: center;
  }
  
  .card h4 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    height: 2rem;
    text-shadow: 0 0 10px #ddd,0 0 10px #ddd;
  }
  
  .card button {
    background-color: #5b5bff;
    width: fit-content;
    color: white;
    border: 1px solid;
    padding: 8px 2rem;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1rem;
  }
  .card .card-detail{
    color: white;
    font-weight: 500;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .pagination button{
    background-color: white;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }