*{
    overflow: hidden;
}
html,body {
    box-sizing: border-box;
    max-width: 100%;
    overflow: unset;
}

/* font */
@font-face {
    font-family: 'ArchivoBlack';
    src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Advanced */
.advanced {
    height: fit-content;
    padding: 4rem;
}

.advanced .container {
    margin: 0;
    padding: 0;
    background: #2c2f8a;
    font-family: Arial, sans-serif;
    color: white;
    display: grid;
    grid-gap: 30px;
    padding: 60px 30px;
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
}

.advanced .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #f7a723;
}

.advanced .box {
    background-color: black;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) {
    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Nav */
    nav {
        width: 100vw;
        overflow: unset;
    }

    nav img {
        width: 100%;
        height: auto;

    }

    nav button {
        width: 50px;
        height: 40px;
    }

    .navbar {
        padding: 10px 0;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
        align-items: center;
    }

    .navbar-collapse {
        width: max-content;
        font-size: 1rem;
    }

    /* carousel */
    .carousel {
        width: 100vw;
        height: 50vh;
        min-height: fit-content;
        position: relative;
    }

    .carousel .container {
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .carousel .container img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
        object-position: center;
    }

    .carousel .container .carousel-overplay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        object-fit: cover;
        object-position: center;
        background-color: black;
        opacity: 0.5;
    }

    .carousel .container .content {
        position: absolute;
        z-index: 3;
        top: 25%;
        left: 0;
        width: 100%;
        height: fit-content;
        text-align: center;
        padding: 0 1rem;
        overflow: hidden;
    }

    .carousel .container h1 {
        font-size: 1.5rem;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.739);
    }

    .carousel .container p.carousel-slogan {
        color: white;
        font-size: 1rem;
        padding: 0;
        font-weight: 700;
    }

    .carousel .container p {
        color: white;
        font-size: 0.8rem;
        padding: 0 1.2rem;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.579);
    }

    .carousel .container .logo {
        font-size: 2rem;
        font-weight: 800;
        text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.852),
            2px 2px 4px rgba(79, 46, 188, 0.912);
    }

    .carousel .container a {
        color: white;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
    }

    .carousel .container .content a:hover {
        font-size: 1.5rem;
        transition: 0.3s;
    }

    /* end carousel */
    /* intro */
    .intro {
        width: 100vw;
        height: auto;
        min-height: max-content;
        background-color: black;
        color: white;
        text-align: left;
    }

    .intro .row {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .intro .col-6 {
        height: 100%;
    }

    /* left-col */
    .intro .col-6.left-col {
        display: flex;
        width: 100%;
        padding: 1rem;
    }

    .intro .col-6.left-col h2 {
        text-align: center;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .intro .col-6.left-col img {
        width: 100%;
        min-height: 6rem;
        height: auto;
    }

    /* right-col */
    .intro .col-6.right-col {
        width: 100%;
    }

    .intro .col-6.right-col .content_wrap {
        text-align: left;
        font-weight: 500;
        padding: 1rem;
    }

    .intro .col-6.right-col ul {
        list-style: disc;
        list-style-position: inside;
        padding: 0 1rem;
    }

    .intro .col-6.right-col li {
        font-size: 0.6rem;
    }

    /* end intro */
    /* TrainingRoadmap */
    .TrainingRoadmap {
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: rgb(63, 66, 141);
    }

    .TrainingRoadmap .table-responsive {
        border: 1px black solid;
        overflow: hidden;
    }

    .TrainingRoadmap .title {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 1rem;
        color: white;
        overflow: hidden;
    }

    .TrainingRoadmap th {
        font-size: 0.7rem;
        text-align: center;
        font-weight: 700;
        border: 1px black solid;
        background-color: #f7a723;
    }

    .TrainingRoadmap td {
        font-size: 0.7rem;
        text-align: center;
        border: 1px black solid;
    }

    .TrainingRoadmap td.course-name {
        text-align: left;
        font-weight: 600;
    }

    /* end-trainingRoadmap  */
    /* TrainingNote */
    .TrainingNote {
        width: 100vw;
        height: fit-content;
        color: white;
    }

    .TrainingNote h2 {
        font-size: 1rem;
        text-decoration: underline;
        overflow: hidden;
    }

    .TrainingNote ol {
        padding: 0 0.5rem;
        list-style: disc;
        list-style-position: inside;
    }

    .TrainingNote li {
        font-size: 0.7rem;
    }

    /* end-TrainingNOte */
    /* TrainingContent */
    .TrainingContent {
        width: 100vw;
        height: fit-content;
        padding: 1rem;
    }

    .TrainingContent .xl-layout {
        display: none;
    }

    .TrainingContent .card-layout {
        margin-bottom: 1.5rem;
        border: #2c2f8a 2px dashed;
        padding: 5px;
        border-radius: 10px;
    }

    .TrainingContent h1 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 800;
        margin: 1.5rem;
        display: block;
        background-color: #f7a723;
        padding: 0.5rem;
        border-radius: 10px;
    }

    .TrainingContent .card-layout h2.title {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.8rem;
        text-decoration: underline;
        width: fit-content;
    }

    .TrainingContent .card-layout h3 {
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0;
        width: fit-content;
        margin-left: 0.5rem;
    }

    .TrainingContent .card-layout p {
        font-size: 0.8rem;
        margin: 0rem;
        padding: 0.5rem;
        text-align: left;
    }

    /* note */
    .TrainingContent .note ol {
        color: red;
        font-weight: 700;
        font-size: 1rem;
    }

    .TrainingContent .note li {
        color: #000;
        font-weight: 400;
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    /* end TrainingContent */
    /* advanced */
    .advanced {
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: black;
        text-align: center;
    }

    .advanced .container .box {
        text-align: center;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .advanced .container .head-tittle {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 700;
    }

    .advanced .container {
        display: grid;
        grid-template-areas:
            "title"
            "a"
            "b"
            "c"
            "d"
    }

    /* end-advance */
    /* Bonus */
    .bonus {
        background-color: black;
        color: white;
        height: fit-content;
        padding: 1rem;
    }

    .bonus .container {
        width: 100vw;
        height: fit-content;
    }

    .bonus .container ul {
        list-style: disc;
        list-style-position: inside;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .bonus .container span {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    /* qualification */
    .qualifications {
        width: 100vw;
        height: fit-content;
        color: white;
        background-color: black;
        padding-bottom: 1rem;
    }

    .qualifications .container {
        width: 100%;
        height: fit-content;
    }

    .qualifications .container .title h1 {
        width: fit-content;
        padding: 1rem;
        font-size: 1.2rem;
        border: #f7a723 2px dashed;
        margin: 0 auto;
        font-weight: 700;
    }

    .qualifications .container p {
        padding: 1rem;
        text-align: left;
        font-size: 1rem;
    }

    .qualifications .row-2 .img-container {
        display: grid;
        grid-template-areas:
            "1 2 3";
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .row-2 .img-container img {
        width: 80px;
        height: auto;
    }

    /* end-qualification */
    /* our partner */
    .our-partner {
        display: none;
    }

    /* sample */
    .sample {
        background-color: black;
        width: 100vw;
        height: fit-content;
    }

    .sample .container {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        height: fit-content;
    }

    .sample h2 {
        color: white;
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #f7a723;
        word-spacing: 3px;
    }

    .sample .container img {
        width: 40vw;
    }

    /* end-Sample */
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {

    /* Nav */
    nav img {
        width: 100%;
        height: auto;
    }

    nav button {
        width: 60px;
        height: 40px;
    }

    .navbar {
        padding: 10px 0;
    }

    .navbar-collapse {
        width: max-content;
        font-size: 1rem;
    }

    /* end-nav */
    /* carousel */
    .carousel {
        width: 100vw;
        height: 50vh;
        min-height: fit-content;
        position: relative;
    }

    .carousel .container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .carousel .container .content {
        position: absolute;
        z-index: 3;
        top: 35%;
    }

    .carousel .container h1 {
                overflow: hidden;
        font-size: 3rem;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.739);
    }

    .carousel .container p.carousel-slogan {
        color: white;
        font-size: 1.5rem;
    }

    .carousel .container p {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        margin: 0 2rem;
    }

    .carousel .container .logo {
        font-size: 3rem;
        overflow: hidden;
    }

    .carousel .container a {
        font-size: 1.5rem;
    }

    .carousel .container .content a:hover {
        font-size: 2rem;
    }

    /* end carousel */
    /* intro */
    .intro {
        padding: 2rem 0;
    }

    .intro .row {
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    /* left-col */
    .intro .col-6.left-col h2 {
        font-size: 3rem;
    }

    /* right-col */
    .intro .col-6.right-col li {
        font-size: 1rem;
    }

    /* end intro */
    /* TrainingRoadmap */
    .TrainingRoadmap .title {
        font-size: 3rem;
    }

    .TrainingRoadmap th {
        font-size: 1.3rem;
        padding: 0.7rem;
    }

    .TrainingRoadmap td {
        font-size: 1.2rem;
    }

    /* end-trainingRoadmap  */
    /* TrainingNote */
    .TrainingNote h2 {
        font-size: 1.5rem;
    }

    .TrainingNote li {
        font-size: 1rem;
    }

    /* end-TrainingNOte */
    /* TrainingContent */

    .TrainingContent .xl-layout {
        display: none;
    }

    .TrainingContent .card-layout {
        margin: 2rem;
        border: #2c2f8a 2px dashed;
        padding: 10px;
    }

    .TrainingContent h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 7rem;
    }

    .TrainingContent .card-layout h2.title {
        font-size: 1.5rem;
    }

    .TrainingContent .card-layout h3 {
        font-size: 1.2rem;
    }

    .TrainingContent .card-layout p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    /* note */
    .TrainingContent .note ol {
        font-size: 1.5rem;
        padding-left: 2rem;
    }

    .TrainingContent .note li {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }

    /* end TrainingContent */
    /* advanced */
    .advanced {
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: black;
        text-align: center;
    }

    .advanced .container .box {
        text-align: left;
        padding: 1.2rem;
        font-size: 1rem;
    }

    .advanced .container .head-tittle {
        padding: 0rem;
        font-size: 1.3rem;
        font-weight: 800;
    }

    .advanced .container {
        grid-template-areas:
            ". . a"
            "head-tittle b c"
            ". . d";
    }

    /* Khai báo khu vực */
    .a {
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
    }

    .d {
        grid-area: d;
    }

    .head-tittle {
        grid-area: head-tittle;
    }

    /* end-advance */

    /* Bonus */
    .bonus .container {
        max-width: 100vw;
    }

    .bonus .container ul {
        font-size: 1rem;
        padding: 3rem;
    }

    .bonus .container span {
        width: 100%;
        font-size: 1.2rem;
    }

    /* end-Bonus */
    /* our partner */
    /* qualification */
    .qualifications {
        padding: 3rem 1rem;
    }

    .qualifications .container {
        width: 100%;
        height: fit-content;
    }

    .qualifications .container .title h1 {
        padding: 2rem;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .qualifications .container p {
        padding: 1.2rem;
        text-align: center;
        font-size: 1.2rem;
    }

    .qualifications .row-2 .img-container {
        gap: 20px;
    }

    .row-2 .img-container img {
        width: 120px;
        height: auto;
    }

    /* end-qualification */
    /* .our-partner */
    .our-partner {
        display: none;
    }

    /* end-our-partner */
    /* sample */

    .sample h2 {
        font-size: 3rem;
        margin: 2rem;
    }

    /* end-Sample */
}

/* Large devices (≥922px) */
@media (min-width: 922px) {

    /* Nav */
    nav img {
        width: 100%;
        height: auto;
    }

    nav button {
        width: 60px;
        height: 40px;
    }

    /* end Nav */
    /* Carousel */
    .carousel {
        height: 70vh;
        min-height: 50vh;
    }
    /* end carousel */

    /* intro */

    .intro .col-6.left-col h2 {
        font-size: 3rem;
    }

    /* right-col */
    .intro .col-6.right-col li {
        font-size: 1.2rem;
    }
    /* end intro */

    /* TrainingRoadmap */

    .TrainingRoadmap h5.title {
        font-size: 3rem;
    }

    /* .TrainingNote */
    .TrainingNote{
        padding-bottom: 2rem;
    }
    .TrainingNote h2 {
        color: red;
    }
    .TrainingNote li{
        font-size: 1rem;
    }
    /* end.TrainingNote */
    /* .TrainingContent */
    .TrainingContent {
        padding: 2rem;
    }

    .TrainingContent h1 {
        font-size: 3rem;
    }
    /* end-TrainingContent */
    /* advanced */

    .advanced .container .box {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }

    .advanced .container .head-tittle {
        font-size: 2rem;
    }
    /* end-advance */
    /* Bonus */
    .bonus {
        padding-top: 3rem;
    }

    /* qualification */
    .qualifications {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .qualifications .title h1 {
        font-size: 2rem;
    }

    .row-2 .img-container img {
        width: 150px;
        height: fit-content;
    }

    /* sample */
    .sample{
        padding-bottom: 3rem;
    }
    .sample h2 {
        padding-bottom: 3rem;
    }

    .sample .container img {
        min-width: 100px;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) { 

    /* carousel */
    .carousel .container h1 {
        font-size: 2.5rem;
    }

    /* intro */
    .intro .col-6 li {
        font-size: 1.5rem;
    }

    /* Bonus */
    .bonus {
        padding-top: 5rem;
    }

    .bonus .container .content {
        font-size: 1.7rem;
        padding: 2rem;
        width: 50vw;
        margin: 0 auto;
    }

    .bonus-subpoint {
        font-weight: 500;
        font-size: 1.2rem;
    }

    /* qualification */
    .qualifications {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .qualifications .title h1 {
        font-size: 2rem;
    }

    .qualifications .subpoint {
        font-size: 1.2rem;
    }

    .row-2 .img-container img {
        width: 150px;
    }

    /* Partner */
    .our-partner{
        display: none;
    }
    /* sample */
    .sample .container img {
        padding-bottom: 2rem;
    }
}

/* Extra large devices (≥1680px) */
@media (min-width: 1680px) {}