body {
    box-sizing: border-box;
    max-width: 100%;
}

/* font */
@font-face {
    font-family: 'ArchivoBlack';
    src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Advanced */
.advanced {
    height: fit-content;
    padding: 4rem;
}

.advanced .container {
    margin: 0;
    padding: 0;
    background: #2c2f8a;
    font-family: Arial, sans-serif;
    color: white;
    display: grid;
    grid-gap: 30px;
    padding: 60px 30px;
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
}

.advanced .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #f7a723;
}

.advanced .box {
    background-color: black;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 320px) {
    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Nav */
    nav {
        width: 100vw;
    }

    nav img {
        padding: 5px;
    }

    nav button {
        width: 50px;
        height: 40px;
    }

    .navbar {
        padding: 10px 0;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
        align-items: center;
    }

    .navbar-collapse {
        width: max-content;
        font-size: 16px;
    }

    /* carousel */
    .carousel {
        width: 100vw;
        height: 50vh;
        background-image: url('/img/img_Sune/Dual/intro_6.png');
        background-size: cover;
        background-position: center;
        background-repeat: none;
        min-height: fit-content;
    }

    .carousel .container {
        padding: 1rem;
        padding-top: 8rem;
        width: fit-content;
        margin: auto 0;
    }

    .carousel .container h1 {
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        box-shadow: white;
    }

    .carousel .container .logo {
        font-size: 1.7rem;
        font-weight: 800;
    }

    .carousel .container p {
        color: white;
        box-shadow: white;
        font-weight: 700;
    }

    .carousel .container a {
        color: white;
        font-size: 0.7rem;
        padding: 0.5rem 1.5rem;
        font-weight: 500;
    }

    /* intro */
    .intro {
        width: 100vw;
        height: auto;
        min-height: max-content;
        background-color: black;
        padding: 2rem 0;
        color: white;
        text-align: justify;
    }

    .intro .row {
        height: fit-content;
    }

    .intro .col-6 {
        height: 100%;
    }

    .intro .col-6 h2 {
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .intro .col-6 img {
        width: 100%;
        height: auto;
    }

    .intro .col-6 .content_wrap {
        padding-top: 3rem;
        padding-right: 0.5rem;
    }

    .intro .col-6 li {
        font-size: 0.5rem;
    }

    /* TrainingRoadmap */
    .TrainingRoadmap {
        width: fit-content;
        height: auto;
        padding: 1rem;
    }

    .TrainingRoadmap .table-responsive {
        border: 1px black solid;
    }

    .TrainingRoadmap .title {
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
    }

    .TrainingRoadmap th {
        font-size: 0.8rem;
        text-align: center;
        border: 1px black solid;
    }

    .TrainingRoadmap td {
        font-size: 0.8rem;
        text-align: center;
        border: 1px black solid;
    }

    /* TrainingNote */
    .TrainingNote h2 {
        font-size: 1.2rem;
    }

    .TrainingNote li {
        font-size: 1rem;
    }

    /* TrainingContent */
    .TrainingContent {
        width: fit-content;
        height: auto;
        padding: 1rem;
    }

    .TrainingContent .xl-layout {
        display: none;
    }

    .TrainingContent .card-layout {
        margin-bottom: 1.5rem;
    }

    .TrainingContent h1 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 800;
    }

    .TrainingContent .card-layout h2.title {
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.8rem;
        text-decoration: underline;
    }

    .TrainingContent .card-layout h3 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    .TrainingContent .card-layout p {
        font-size: 1rem;
        margin: 0rem;
        padding: 0.5rem;
        text-align: justify;
    }

    .TrainingContent .note ol {
        color: red;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .TrainingContent .note li {
        color: black;
        font-weight: 400;
        font-size: 1rem;
        padding: 0.5rem;
    }

    /* advanced */
    .advanced {
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: black;
    }

    .advanced .idea {
        color: white;
        font-size: 1rem;
    }

    .advanced .container .head-tittle {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 700;
    }

    .advanced .container .a {
        font-size: 1rem;
        text-align: center;
        font-weight: 600;
    }

    .advanced .container {
        display: grid;
        grid-template-areas:
            "title"
            "a"
            "b"
            "c"
            "d"
            "e"
    }

    /* Bonus */
    .bonus {
        background-color: black;
        color: white;
        height: fit-content;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .bonus .container .content {
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .bonus .container .bonus-subpoint {
        padding: 10px;
        text-align: justify;
    }

    /* qualification */
    .qualifications {
        max-width: 100vw;
        height: fit-content;
        color: white;
        background-color: black;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .qualifications .container {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "title"
            "a"
            "b"
            "c"
            "d"
    }

    .qualifications .container .title {
        padding: 10px;
    }

    .qualifications .container .subpoint {
        padding: 1rem;
        text-align: justify;
    }


    .qualifications .row-2 .img-container {
        display: grid;
        grid-template-areas:
            "1 2 3";
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .row-2 .img-container img {
        width: 50px;
        height: auto;
    }

    /* our partner */
    .our-partner {
        display: none;
    }

    /* sample */
    .sample {
        background-color: black;
    }

    .sample .container {
        display: flex;
        gap: 5vw;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        height: fit-content;
    }

    .sample h2 {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 800;
    }

    .sample .container img {
        width: 40vw;
    }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {

    /* Nav */
    nav img {
        padding: 5px;
    }

    nav button {
        width: 50px;
        height: 40px;
        font-weight: 700;
    }

    .navbar button.navbar-toggler {
        margin-left: 5rem;
        margin-right: 0;
    }

    .navbar-collapse {
        font-size: 16px;
    }
    /* carousel */
    .carousel {
        max-height: 80vh;
        padding: 3rem;
        background-image: url('/img/img_Sune/Dual/carousel_3.PNG');
        background-position: center;
    }

    .carousel .container {
        padding-top: 4rem;
    }

    .carousel .container h1 {
        font-size: 1.5rem;
    }

    .carousel .container p {
        font-size: 1.2rem;
    }

    .carousel .container .logo {
        font-size: 3rem;
    }

    .carousel .container a {
        font-size: 1rem;
        margin-left: 3rem;
    }

    /* intro */
    .intro .col-6 h2 {
        font-size: 1.5rem;
    }

    .intro .col-6 li {
        font-size: 1.2rem;
    }

    /* TrainingContent */
    .TrainingContent .sm-layout {
        display: none;
    }

    .TrainingContent .xl-layout {
        display: block;
    }

    .TrainingContent h1 {
        padding: 2rem;
    }

    .TrainingContent ol {
        margin-top: 1rem;
    }

    .custom-table-2 {
        width: 100%;
        border-collapse: collapse;
        background-color: whitesmoke;
        /* nền bảng */
        color: black;
    }

    .custom-table-2 th,
    .custom-table-2 td {
        border: 1px solid black;
        padding: 12px 15px;
        vertical-align: middle;
        text-align: left;
    }

    .custom-table-2 th {
        background-color: #f7a723;
        color: black;
        text-transform: uppercase;
        text-align: center;
    }

    .custom-table-2 td b {
        font-weight: bold;
    }

    /* advanced */
    .advanced .container {
        grid-template-areas:
            "head-tittle a b"
            "c d e";
    }

    .advanced .container .a {
        text-align: center;
        padding: 2rem;
    }

    /* Bonus */
    .bonus {
        padding-top: 3rem;
    }

    .bonus .container .content {
        font-size: 1.5rem;
        color: #f7a723;
    }

    .bonus-subpoint {
        font-weight: 500;
    }

    /* qualification */
    .qualifications {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .qualifications {
        min-height: fit-content;
        width: 100vw;
    }

    .qualifications .title h1 {
        margin-top: 20px;
        font-size: 1.7rem;
        color: #f7a723;
        text-align: center;
        font-weight: 700;
    }

    .qualifications .subpoint {
        font-weight: 500;
        font-size: 1rem;
    }

    .row-2 .img-container img {
        width: 120px;
        padding: 10px;
    }

    /* sample */
    .sample h2 {
        font-size: 2rem;
        padding-top: 3rem;
    }
}

/* Large devices (≥922px) */
@media (min-width: 922px) {
    main {
        background-color: black;
    }

    /* Nav */
    nav .nav-link {
        font-size: 1rem;
        color: white;
        font-weight: 500;
    }

    .navbar-light.scrolled .nav-link {
        color: black !important;
    }

    /* carousel */
    .carousel {
        height: 90vh;
        background-image: url('/img/img_Sune/Dual/carousel_3.png');
        min-height: fit-content;
    }

    .carousel .container {
        margin-top: 5rem;
    }

    .carousel .container h1 {
        font-size: 2rem;
    }

    .carousel .container a {
        padding: 1rem;
        font-size: 1.2rem;
    }

    /* intro */
    .intro .col-6 h2 {
        font-size: 2rem;
    }

    .intro .col-6 ul {
        padding: 1rem;
    }

    .intro .col-6 li {
        font-size: 1rem;
    }

    /* TrainingRoadmap */
    .TrainingRoadmap {
        width: 100vw;
    }

    .TrainingRoadmap .table-responsive {
        margin: 0 auto;
    }

    .TrainingRoadmap h5.title {
        color: white;
        font-size: 1.5rem;
    }

    /* .TrainingNote */
    .TrainingNote {
        color: white;
        margin-top: 1rem;
        padding: 0 4rem;
    }

    .TrainingNote h2 {
        color: red;
    }

    /* .TrainingContent */
    .TrainingContent {
        color: white;
        padding: 2rem;
    }

    .TrainingContent h1 {
        font-size: 1.5rem;
    }

    .TrainingContent .note ol {
        margin-top: 2rem;
        padding: 0 4rem;
    }

    .TrainingContent .note li {
        color: white;
    }

    /* advanced */
    .advanced .container {
        grid-template-areas:
            ". head-tittle ."
            "b . c"
            ". a ."
            "d . e";
        text-align: justify;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .head-tittle {
        grid-area: head-tittle;
    }

    .a {
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
    }

    .d {
        grid-area: d;
    }

    .e {
        grid-area: e;
    }

    .advanced .container .a {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }

    .advanced .container .head-tittle {
        font-size: 1.5rem;
    }

    /* Bonus */
    .bonus {
        padding-top: 3rem;
    }

    .bonus .container .content {
        font-size: 1.7rem;
        padding: 2rem;
        width: 60vw;
        margin: 0 auto;
    }

    .bonus-subpoint {
        font-weight: 500;
        font-size: 1.2rem;
    }

    /* qualification */
    .qualifications {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .qualifications .title h1 {
        font-size: 2rem;
    }

    .qualifications .subpoint {
        font-size: 1.2rem;
    }

    .row-2 .img-container img {
        width: 150px;
    }

    /* sample */
    .sample h2 {
        padding-bottom: 3rem;
    }

    .sample .container img {
        min-width: 100px;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {

    /* Nav */
    nav .nav-link {
        font-size: 1.2rem;
    }

    /* carousel */
    .carousel .container h1 {
        font-size: 2.5rem;
    }

    /* intro */
    .intro .col-6 li {
        font-size: 1.5rem;
    }

    /* Bonus */
    .bonus {
        padding-top: 5rem;
    }

    .bonus .container .content {
        font-size: 1.7rem;
        padding: 2rem;
        width: 50vw;
        margin: 0 auto;
    }

    .bonus-subpoint {
        font-weight: 500;
        font-size: 1.2rem;
    }

    /* qualification */
    .qualifications {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .qualifications .title h1 {
        font-size: 2rem;
    }

    .qualifications .subpoint {
        font-size: 1.2rem;
    }

    .row-2 .img-container img {
        width: 150px;
    }

    /* Partner */
    .our-partner {
        display: contents;
    }

    .our-partner .tittle {
        color: white;
    }

    .our-partner .carousel-partner .wrap img {
        width: 170px;
    }

    /* sample */
    .sample .container img {
        padding-bottom: 2rem;
    }
}

/* Extra large devices (≥1680px) */
@media (min-width: 1680px) {

    /* intro */
    .intro .col-6 {
        display: flex;
        justify-content: center;
        /* căn ngang */
        align-items: center;
        /* căn dọc */
        height: 100vh;
    }

    .intro .col-6 img {
        margin: 0 auto;
        width: 100%;
        height: 50%;
    }

    /* Bonus */
    .bonus .container .content {
        font-size: 1.7rem;
        padding: 2rem;
    }

    .bonus-subpoint {
        font-weight: 500;
        font-size: 1.2rem;
    }

    /* qualification */

    .qualifications .title h1 {
        font-size: 2rem;
    }

    .qualifications .subpoint {
        font-size: 1.2rem;
    }

    .row-2 .img-container img {
        width: 150px;
    }
}