body {
    max-width: 100vw;
}

.qualifications .row-1 {
    margin: 3rem auto;
}

.qualifications .row-1 h1 {
    margin: 3rem 0;
}

.qualifications .row-1 .right-col {
    font-size: 1.25rem;
    font-weight: 600;
}

.qualifications .row-1 .right-col p {
    font-size: 1.4rem;
    font-weight: 600;
}

.qualifications .row-2 .img-container {
    display: flex;
    /* Sắp xếp các phần tử con theo hàng ngang */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc (nếu cần) */
    gap: 60px;
    /* Khoảng cách giữa các ảnh */
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.row-2 .img-container img {
    width: 200px;
    height: auto;
}

/* advanced */
.advanced {
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100vw;
    min-height: 800px;
    margin-top: 4rem;
    padding: 2rem 0;
    position: relative;
}

.advanced .tittle {
    position: absolute;
    top: 300px;
    left: calc(32%);
    text-align: center;
}

.advanced .tittle h1 {
    width: 700px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFBC2C;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.advanced .idea h4 {
    font-size: 1.2rem;
    padding: 10px;
    width: 550px;
    text-align: center;
}

.advanced .idea h4:hover {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.advanced .idea-1 {
    position: absolute;
    top: 40px;
    left: 40px;
}

.advanced .idea-2 {
    position: absolute;
    top: 80px;
    right: 50px;
}

.advanced .idea-3 {
    position: absolute;
    top: 150px;
    left: 700px;
}

.advanced .idea-4 {
    position: absolute;
    top: 650px;
    left: 150px;
}

.advanced .idea-5 {
    position: absolute;
    bottom: 50px;
    right: 170px;
}

.advanced .idea-6 {
    position: absolute;
    bottom: 150px;
    right: 750px;
}

.advanced .idea-7 {
    position: absolute;
    bottom: 350px;
    right: 50px;
}

.advanced .idea-8 {
    position: absolute;
    top: 400px;
    left: 60px;
}

/* details */
.details .row {
    height: fit-content;
}

.details .col-6 {
    height: 100%;
}

.details .col-6 h2 {
    text-align: center;
    margin: 2rem 0;
}

.details .col-6 img {
    width: 100%;
    height: 70%;
}

.details .col-6 .content_wrap {
    margin: 10rem 0;
}

.details .col-6 li {
    font-size: 1.5rem;
}

/* Subject */
.subjects{
    padding: 4rem 0;
}
.subjects .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 cột đều nhau */
    background-color: #FFDB5C;
    gap: 5rem;
    padding: 5rem;
    border-radius: 20px;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.15),
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.15);
}
.subjects h2{
    text-align: center;
    padding: 2rem 0;
    font-weight: 700;
}
.subjects .items{
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
}
.subjects .btn {
    background-color: #3E4095;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.15);
}
.subjects .card-body span{
    font-weight: 700;
    text-align: center;
}
.subjects .card-body{
    background-color: #FFBC2C;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.15);
}